@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand{
    padding-left: 10vw;
}
.navbar-nav{
    padding-right: 10vw;
}

#header{
    font-size: 6vmin;
    text-align: center;
    margin: 2vh 0 4vh 0;
    font-weight: bolder;
}

.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 6vh;
    flex-wrap: wrap;
}

.line{
    background-color: green;
    top: 5vw;
    /* width: 30vw; */
    width: 0;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    transition: width 1s ease-in-out;
}

.gameBoxContainer{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    position: relative;
    text-align: center;
    margin: 0 2vh;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(255, 255, 204);
}

.gameInfo{
    padding: 0 3vw;
    min-width: 27.5vw;
    text-align: center;
}
.info{
    font-weight: bold;
    font-size: 2.75vw;
}
#reset{
    margin: 0.75vw 0;
    padding: .25vw 1.5vw;
    font-size: 2vw;
    border-radius: 7.5%;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(255, 169, 169);
    outline: none;
}
.imgBox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

#footer{
    left: 0;
    position: fixed;
    display: block;
    width: 100%;
    bottom: 0;
    text-shadow: none;
    color: orange;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 6px 4vw;
    opacity: 0.8;
    font-weight: bold;
    border-top: 3px solid grey;
	border-radius: 3vmin 3vmin 0 0;
}
#footer a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(21, 56, 255);
}


@media screen and (max-width: 992px){
    .navbar-brand{
        padding-left: 0;
    }
    .navbar-nav{
        padding-right: 0;
    }
}

@media screen and (max-width: 600px){
    .gameContainer{
        flex-direction: column;
        margin-top: 3vh;
    }
    
    .gameBoxContainer{
        display: grid;
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
        margin: 0 auto;
    }

    .line{
        background-color: green;
        top: 10vw;
        height: 3px;
        border-radius: 20px;
        position: absolute;
    }

    .gameInfo{
        padding: 1vw 2vw;
        margin: auto;
        text-align: center;
    }
    #header{
        font-size: 8vw;
        margin: 3vh 0 5vh 0;
    }
    .info{
        font-size: 5.75vw;
    }
    #reset{
        margin: 2.5vw;
        padding: 1vw 5vw;
        font-size: 5vw;
        border-radius: 7.5%;
    }
    #footer{
        font-size: 11px;
    }
}